<ion-content>
  <div class="header"
       slot="fixed">
    <div class="votlar ion-activatable"
         role="button"
         (click)="confirmar()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>

  <div class="titulo">
    <span>{{tituloPrimario}}</span> {{tituloSecundario}}
  </div>

  <div class="conteudo" [innerHTML]="term">
  </div>
</ion-content>
<ion-footer no-border transparent>
  <div class="ok ion-activatable"
        role="button"
        (click)="confirmar()">
      {{textoBotao}}
    </div>
</ion-footer>
