<ion-content>

  <div class="header"
       slot="fixed">
    <div class="votlar ion-activatable"
         role="button"
         (click)="voltarClicked()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>

  <div class="imagem"
       [innerHTML]="'CASO_SUSPEITO.TITULO' | translate"></div>

  <div class="veredito"
       [innerHTML]="'CASO_SUSPEITO.TEXTO_DESTACADO' | translate"></div>

  <div class="atendimento-pre">
    <div class="info">
      {{'CASO_SUSPEITO.ATENDIMENTO' | translate}}
    </div>

    <div class="me-ligue ion-activatable"
         role="button"
         (click)="openAtendimentoPreClinico()">
      {{'CASO_SUSPEITO.LIGAR' | translate}}
    </div>
  </div>

  <div class="pre-itens"
       [innerHTML]="'CASO_SUSPEITO.TITULO_DICAS' | translate"></div>

  <div class="item"
       [innerHTML]="'CASO_SUSPEITO.DICA1' | translate"></div>
  <div class="item"
       [innerHTML]="'CASO_SUSPEITO.DICA2' | translate"></div>
  <div class="item"
       [innerHTML]="'CASO_SUSPEITO.DICA3' | translate"></div>
  <div class="item"
       [innerHTML]="'CASO_SUSPEITO.DICA4' | translate"></div>
  <div class="item"
       [innerHTML]="'CASO_SUSPEITO.DICA5' | translate"></div>

  <!-- <div class="pre-itens" [innerHTML]="'CASO_SUSPEITO.TEXTO_RESTANTE' | translate"></div> -->

  <div class="encontre-dicas">
    <div class="encontre ion-activatable"
         role="button"
         (click)="encontre()">
      <div class="icone"></div>
      <div class="titulo">{{'INICIO.UBS.TITULO' | translate}}</div>
      <div class="sub-titulo">{{'INICIO.UBS.SUBTITULO' | translate}}</div>
    </div>
    <div class="dicas ion-activatable"
         role="button"
         (click)="verDicas()">
      <div class="icone"></div>
      <div class="titulo">{{'OBRIGADO_CONTRIBUICAO.DICAS.TITULO'| translate}}</div>
      <div class="sub-titulo">{{'OBRIGADO_CONTRIBUICAO.DICAS.SUBTITULO'| translate}}</div>
    </div>
  </div>

  <div class="ok ion-activatable"
       role="button"
       (click)="voltarClicked()">
    OK
  </div>

</ion-content>