<ion-content>

  <div class="header"
       slot="fixed">
    <div class="votlar ion-activatable"
         role="button"
         (click)="voltarClicked()">
      <ion-icon name="close-outline"></ion-icon>
    </div>
  </div>


  <div class="titulo" [innerHTML]="'CASO_ISOLAMENTO_INFECTADO.TITULO' | translate">
  </div>

  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA1' | translate}}</div>
  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA2' | translate}}</div>
  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA3' | translate}}</div>
  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA4' | translate}}</div>
  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA5' | translate}}</div>
  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA6' | translate}}</div>
  <div class="item">{{'CASO_ISOLAMENTO_INFECTADO.DICA7' | translate}}</div>

  <br>

  <div class="ok ion-activatable"
       role="button"
       (click)="voltarClicked()">
    OK
  </div>

</ion-content>